.customButtontrue {
  width: 80px;
  height: 39px;
  border-radius: 10px;
  border: solid 1px #a7a3a3;
  background-color: #ffffff;
  //width: 40px;
  //height: 12px;
  font-family: Rubik;
  font-size: 16.5px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #918f8f;
  padding: 10px 0px 0px 15px;
  
}
.customButtonfalse {
  width: 80px;
  height: 39px;
  border-radius: 10px;
  border: solid 1px #918f8f;
  background-color: #ffffff;
  //width: 47px;
  //height: 12px;
  font-family: Rubik;
  font-size: 16.5px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #918f8f;
  padding: 10px 0px 0px 15px;
  
}
.active {
  font-weight: bold;
}
.questionstyle{
  width: 721px;
  height: 20px;
  font-family: Rubik;
  font-size: 20px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #777676;
  margin: 9px 0px 0px 0px;
}

