.optionBox {
  padding: 5px;
  color: #23b5eb;
}

.dropBox {
  width: 150px;
  height: 30px;
  padding: 5px;
  border-bottom: 1px solid #2490f5;
  color: #2490f5;
  font-weight: normal;
  font-size: 20px;
  word-spacing: 0.1px;
  display: inline-block;
  text-align: center;
}

.iconSize {
  width: 3%;
}