.active {
  font-weight: bold;
}

.questionText {
  text-align: left;
  padding: 11px;
  color:#777676;
}

.indexPadding {
  padding: 11px 0 0 12px;
  max-width: 5%;
}

.mb-20 {
  margin-bottom: 20px;
}